{% set application_node = data.NetApplication.edges[0].node %}
{% set access_point_node = application_node.access_points.edges[0].node %}
{% set bandwidth_node = application_node.bandwidths.edges[0].node %}

# Access Point Router Configuration. Auto Generated. {{ timestamp }}

# For Access Point {{ access_point_node.name.value }},  Installation ID {{ installation_id }}

# This is a {{ access_point_node.router_type.node.name.value }} Configuration

# {{ application_node.name.value }} selected with {{ bandwidth_node.human_readable_name.value }} bandwidth

configure terminal
!
no route-map {{ interface }}_boundary
!
interface {{ interface }}
no lldp transmit
no lldp receive
udld disable
ip address {{ member_lan }}
no ip redirects
ip pim sparse-mode
ip igmp access-group {{ interface }}_boundary
ip access-group allow_mc_colo in
ip pim passive
no shutdown
!
!

{% for edge in data.NetEnvironmentVariable.edges -%}
# route-map for {{ edge.node.entitlement.node.name.value }} side {{ edge.node.side.node.name.value }}
route-map {{ interface }}_boundary permit {{ loop.index * 10 }}
 match ip multicast group {{ edge.node.value.value }}
{% endfor -%}
!
!
end
!!!
