# Access Point Router Configuration. Auto Generated. {{ timestamp }}

# For Access Point {{ access_point_node.name.value }},  Installation ID {{ installation_id }}

# This is a {{ access_point_node.router_type.node.name.value }} Configuration

# {{ application_node.name.value }} selected with {{ bandwidth_node.human_readable_name.value }} bandwidth
